.activation-form .submit-button {
  color: white;
  border-radius: 25px;
  background-color: #0074e6;
  height: 40px;
  width: 100%;
}

.activation-form .pan-input:focus {
  border: 2px solid #0074e6;
}

.activation-form .pin-input:focus {
  border: 2px solid #0074e6;
}
